/* CSS Document */
body{

}
#header{width:100%; height:auto; float:left; border-bottom:2px solid #efefef;}
#home_head{width:100%; height:auto; float:left; margin-top:2%;}
#logo{ width:130px;}
#login_text{float:right; font-size:14px;}
#login_left{float:left; background:#fff;}
#login_right{float:right; margin-top:17px;}

#tab_box{width:100%; height:40px; float:left; margin-top:5%;}
#bab_bar{width:100%; height:70px; float:left;}
.centertab{width:650px;background:none; margin:auto;}
#home_footerbox{width:100%; height:150px; float:left; background:#f7f7f1; padding-top:5px; padding-bottom:5px; border-top:1px solid #d7dab2;}
#footer_bar{width:100%; height:auto; float:left; background:#438eb9; padding-top:5px; position:fixed; bottom:0px; padding-bottom:5px; color:#fff; margin-top:10px;}
#homefooter_bar{width:100%; height:auto; float:left; background:#438eb9; padding-top:5px; padding-bottom:5px;}

.cancel{
    display: inline-block;color: #FFF!important;text-shadow: 0 -1px 0 rgba(0,0,0,.25);background-image: none!important;border-radius: 0;box-shadow: none!important;-webkit-transition: background-color .15s,border-color .15s,opacity .15s;-o-transition: background-color .15s,border-color .15s,opacity .15s;transition: background-color .15s,border-color .15s,opacity .15s;cursor: pointer;vertical-align: middle;margin: 0;position: relative;padding:5px 8px;background-color: #d15b47;font-size:12px;
}
.bold{ font-weight:bold; text-align:right;}
#navbar-container{ padding-right:0px;}
.footer_colour{ color:#fff;}
.ace-settings-container{ display:none;}
.nav-search .form-search{ display:none;}
.no-skin .nav-list > li .submenu > li > a:hover{background:#949597 !important; color:#fff;}

.table1{
	width:80%;
	margin:auto;
	border:1px solid #dedede;
	border-collapse:collapse;
	font-size: 13px;
font-family: 'Open Sans';
margin-bottom:20px;
}
.table1 tr td{
	border:1px solid #dedede;
	border-collapse:collapse;
	height:30px;
padding:10px;
}
.heading{
	background:#3795cc;
	color:#fff;
}
.removeborder{
	border:none !important;
}


