.edit_job{
    background: #f16b22 none repeat scroll 0 0;
    position: absolute;
    right: 0px;
    top: 20px;
    color:#fff;
    font-size:12px;
    padding:5px;
height:30px;
}

.edit_job a{color:#fff;}

.heading-inner button {
    background: none repeat scroll 0 0 #333 !important;
    color: #fff;
    display: block;
    padding: 14px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}